#include "os2.h"
#include "SETOPT.rch"



MENU ID_SETOPT
  BEGIN
    SUBMENU  "~Options", IDM_OPTIONS, MIS_TEXT
      BEGIN
        MENUITEM "Set ~font...", IDM_O_SETFONT, MIS_TEXT
        MENUITEM "Set ~color...", IDM_O_SETCOLOR, MIS_TEXT
      END
  END


STRINGTABLE
BEGIN
  IDS_ERR_WINDOW_CREATE, "Window creation failed!"
  IDS_ERR_WINDOW_POS, "Window positioning failed!"
END

DLGTEMPLATE IDLG_SETFONT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Set font", IDLG_SETFONT, 152, 103, 239, 96,
           FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        CONTROL "Font", TXT_SETFONT_FONT, 13, 89, 20, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "Size", TXT_SETFONT_SIZE, 127, 88, 20, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "", LB_SETFONT_FONT, 11, 52, 110, 36,
                WC_LISTBOX, WS_TABSTOP | WS_VISIBLE
        CONTROL "Size", TXT_SETFONT_SIZE, 127, 88, 20, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "", LB_SETFONT_SIZE, 126, 52, 36, 36,
                WC_LISTBOX, WS_TABSTOP | WS_VISIBLE
        CONTROL "Typestyle", GRP_SETFONT_TYPESTYLE, 165, 45, 71, 51,
                WC_STATIC, SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "~Bold", CK_SETFONT_BOLD, 171, 76, 57, 8,
                WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
        CONTROL "~Italic", CK_SETFONT_ITALIC, 171, 66, 61, 8,
                WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
        CONTROL "~Underscore", CK_SETFONT_UNDERSCORE, 171, 56, 63, 8,
                WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
        CONTROL "Strike~out", CK_SETFONT_STRIKEOUT, 171, 46, 62, 8,
                WC_BUTTON, BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE
        CONTROL "Font sample", GRP_FONTTEST_SAMPLE, 5, 20, 232, 28,
                WC_STATIC, SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "AbCdEfGhIjKlMnOpQrStUvWxYz", MLE_SETFONT, 9, 22, 223, 15,
                WC_MLE, MLS_READONLY | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "OK", PB_SETFONT_OK, 6, 3, 51, 13,
                WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Apply", PB_SETFONT_APPLY, 64, 3, 51, 13,
                WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", PB_SETFONT_CANCEL, 123, 3, 50, 13,
                WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", PB_SETFONT_HELP, 181, 3, 50, 13,
                WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE
    END
END


DLGTEMPLATE IDLG_SETCOLOR LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Set colors", IDLG_SETCOLOR, 183, 41, 199, 115,
           FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        CONTROL "", MLE_SETCOLOR, 7, 25, 186, 20,
                WC_MLE, MLS_READONLY | WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "Foreground", GRP_SETCOLOR_FOREGROUND, 1, 58, 94, 52,
                WC_STATIC, SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "", LB_SETCOLOR_FOREGROUND, 5, 60, 88, 41,
                WC_LISTBOX, WS_TABSTOP | WS_VISIBLE
        CONTROL "Background", GRP_SETCOLOR_BACKGROUND, 101, 58, 94, 52,
                WC_STATIC, SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "", LB_SETCOLOR_BACKGROUND, 105, 61, 88, 40,
                WC_LISTBOX, WS_TABSTOP | WS_VISIBLE
        CONTROL "Color sample", GRP_SETCOLOR_SAMPLE, 3, 22, 193, 32,
                WC_STATIC, SS_GROUPBOX | WS_GROUP | WS_VISIBLE
        CONTROL "OK", PB_SETCOLOR_OK, 5, 4, 44, 13,
                WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Apply", PB_SETCOLOR_APPLY, 53, 4, 44, 13,
                WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", PB_SETCOLOR_CANCEL, 103, 4, 44, 13,
                WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Help", IDLG_SETCOLOR, 150, 4, 44, 13,
                WC_BUTTON, BS_PUSHBUTTON | BS_HELP | WS_TABSTOP | WS_VISIBLE
    END
END


